*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  margin: 1% 1%;
}

main {
  position: relative;
  width: 1000px; /* same as image width */
  height: 450px; /* same as image height */
  margin: auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  box-sizing: border-box;
}

.nav button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.nav button:hover {
  background: rgba(0, 0, 0, 0.8);
}


.pagination {
  text-align: center;
  margin-top: 10px;
}

.pagination span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination span.active {
  background-color: #333;
}